svg, text, body{
	font-family: Lato;
}

body{
    color: #353535;
    margin: 0;
    font-size: 100%;
    line-height: 1.8;
}

.container {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.fig_container {
    position: relative;
}

#mapContainer{
    width: 500px;
    height: 675px;
    display: inline-block;
}

#map{
    width: 100%;
    height: 100%;
}

#percentilePanel {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 460px;
}

/*.hidden {
    visibility: hidden;
}*/

.invisible {
    display: none;
}

@media screen and (max-width: 978px) {
    .container {
        padding: 0.5em;
    }

    .fig_container {
        width: 500px;
        margin: 0 auto;
    }

    #mapContainer {
        display: block;
    }

    #percentilePanel {
        position: relative;
        margin-top: 2em;
        width: 100%;
        min-height: 250px;
    }
}

@media screen and (max-width: 520px) {
    .fig_container {
        width: 100%;
    }

    #mapContainer {
        width: 100%;
        height: 500px;
    }
}


/**********************************************************/
/***************** SEARCH BUTTON STYLES *******************/
/**********************************************************/
.search_container {
    margin-bottom: 3em;
}

.search_container p {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.search_btn_container {
    width: 450px;
    margin: 0 auto;
}

.search_btn {
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    color: #1696d2;
    border: 1.5px solid #1696d2;
    font-size: 1.125rem;
    font-family: Lato;
    background-color: #fff;
    cursor: pointer;
}

.search_btn:first-of-type {
    margin-right: 46px;
}

.search_btn:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.search_btn.selected {
    background-color: #1696d2;
    color: #fff;
    cursor: auto;
    pointer-events: none;
}

@media screen and (max-width: 466px) {
    .search_btn_container {
        width: 100%;
        margin: 0;
    }

    .search_btn {
        width: 49%;
        vertical-align: top;
    }

    .search_btn:first-of-type {
        margin-right: 0;
    }
}


/**********************************************************/
/**************************** MAP *************************/
/**********************************************************/

#zoomOutIcon{
    float: right;
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
    color: #1696d2;
    cursor: pointer;
    opacity: 0;
}



/**********************************************************/
/************************* LEGEND *************************/
/**********************************************************/

.legendContainer {
    width: 60%;
    display: inline-block;
}

.legendLabel {
    text-anchor: middle;
    font-size: 0.8rem;
}

.legendContainer h3 {
    font-weight: bold;
    font-size: 0.875rem;
}

.legendContainer svg:first-of-type {
    margin-right: 0.7em;
}

@media screen and (max-width: 978px) {
    .legendContainer {
        width: 100%;
    }

    .legendContainer svg:first-of-type {
        margin-right: 0;
        margin-bottom: 1.25em;
    }
}

@media screen and (max-width: 520px) {
    .legendContainer svg {
        display: block;
    }

    .legendLabel {
        font-size: 0.7rem;
    }
}


/**********************************************************/
/*********************** INFO PANEL ***********************/
/**********************************************************/

#percentilePanel p {
    margin: 0.8em 0;
}

#geoSearch {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: none;
    background: url("../img/searchIcon.png") 96% / 15% no-repeat #f5f5f5;
    background-size: 24px;
    padding: 1em;
    font-size: 1rem;
    font-family: Lato;
    color: #353535;
}

.ui-menu {
    max-height: 200px;
}

.ui-autocomplete {
    /*max-height: 300px;*/
    overflow-y: auto;
    overflow-x: hidden;
    /*font-size: 16px;*/
    /*font-style: italic;*/
}

.header_container {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.census_tract_label {
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #FCCB41;
    text-underline-position: under;
}

.num_eli_renters_label {
    font-size: 0.875rem;
    font-weight: bold;
}

.num_eli_renters {
    font-weight: normal;
}

.no_data_msg {
    font-style: italic;
}

.overall_index {
    font-size: 1.125rem;
    font-weight: bold;
    color: #12719E;
    line-height: 1.6rem;
}

.total_index_label {
    color: #353535;
}

hr {
    border: 1px solid #12719E;
    margin: 1em 0;
}

.subindex_info {
    padding-left: 2em;
}

.subindex_label {
    font-weight: bold;
}

.pctile_components {
    font-style: italic;
    color: #575757;
    line-height: 1.46rem;
}

.percentilePanel_footer {
    font-size: 0.875rem;
    font-style: italic;
}