svg, text, body{
	font-family: Lato;
}

body{
    color: #353535;
    margin: 0;
    font-size: 100%;
    line-height: 1.8;
}

a {
    color: #1696d2;
    text-decoration: none;
}

.container {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.fig_container {
    position: relative;
    min-height: 920px;
}

#mapContainer{
    width: 500px;
    height: 525px;
    display: inline-block;
}

#map{
    width: 100%;
    height: 100%;
}

#percentilePanel {
    display: inline-block;
    position: absolute;
    top: 55px;
    right: 0;
    width: 460px;
}

.invisible {
    display: none;
}

@media screen and (max-width: 978px) {
    .container {
        padding: 0.5em;
    }

    .fig_container {
        width: 500px;
        margin: 0 auto;
        min-height: auto;
    }

    #mapContainer {
        display: block;
    }

    #percentilePanel {
        position: relative;
        margin-top: 2em;
        width: 100%;
        top: auto;
        right: auto;
    }
}

@media screen and (max-width: 520px) {
    .fig_container {
        width: 100%;
    }

    #mapContainer {
        width: 100%;
        height: 500px;
    }

    #percentilePanel {
        margin-top: 0;
    }
}


/**********************************************************/
/*********** SEARCH BUTTON & SEARCH BOX STYLES ************/
/**********************************************************/
.search_container {
    margin-bottom: 3em;
}

.search_container p {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.search_btn_container {
    width: 450px;
    margin: 0 auto;
}

.search_btn {
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    color: #1696d2;
    border: 1.5px solid #1696d2;
    font-size: 1.125rem;
    font-family: Lato;
    background-color: #fff;
    cursor: pointer;
}

.search_btn:first-of-type {
    margin-right: 46px;
}

.search_btn:hover,
.search_btn:focus {
    background-color: #000;
    color: #fff;
    border-color: #000;
    outline: none;
}

.search_btn:focus {
    border-color: #1696d2;
}

.search_btn.selected {
    background-color: #1696d2;
    color: #fff;
    cursor: auto;
    pointer-events: none;
}

@media screen and (max-width: 466px) {
    .search_btn_container {
        width: 100%;
        margin: 0;
    }

    .search_btn {
        width: 49%;
        vertical-align: top;
    }

    .search_btn:first-of-type {
        margin-right: 0;
    }
}


#geoSearch {
    width: 100%;
    max-width: 460px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border: none;
    background: url("../img/searchIcon.png") 96% / 15% no-repeat #f5f5f5;
    background-size: 24px;
    padding: 1em;
    font-size: 1rem;
    font-family: Lato;
    color: #353535;
}

.ui-menu {
    max-height: 200px;
}

.ui-autocomplete {
    /*max-height: 300px;*/
    overflow-y: auto;
    overflow-x: hidden;
    /*font-size: 16px;*/
    /*font-style: italic;*/
}

@media screen and (max-width: 978px) {
    #geoSearch {
        position: relative;
        max-width: 500px;
        margin-bottom: 2em;
    }
}


/**********************************************************/
/**************************** MAP *************************/
/**********************************************************/

#zoomOutIcon{
    float: right;
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
    color: #1696d2;
    cursor: pointer;
    opacity: 0;
}



/**********************************************************/
/************************* LEGEND *************************/
/**********************************************************/

.legendContainer {
    width: 60%;
    display: inline-block;
}

.legendLabel {
    text-anchor: middle;
    font-size: 0.8rem;
}

.legendContainer h3 {
    font-weight: bold;
    font-size: 0.875rem;
}

.legendContainer svg:first-of-type {
    margin-right: 1.3em;
}

@media screen and (max-width: 978px) {
    .legendContainer {
        width: 100%;
    }

    .legendContainer svg:first-of-type {
        margin-right: 0;
        margin-bottom: 1.25em;
    }
}

@media screen and (max-width: 520px) {
    .legendContainer svg {
        display: block;
    }

    .legendLabel {
        font-size: 0.7rem;
    }
}


/**********************************************************/
/*********************** INFO PANEL ***********************/
/**********************************************************/

#percentilePanel p {
    margin: 1em 0;
}

.map_instructions {
    font-style: italic;
}

.header_container {
    display: flex;
    justify-content: space-between;
}

#percentilePanel .header_container p {
    margin-bottom: 0;
    margin-top: 1.5em;
}

.census_tract_label {
    font-size: 0.875rem;
}

.census_tract_label .census_tract {
    text-transform: uppercase;
    /*text-decoration: underline;*/
    /*text-decoration-color: #FCCB41;*/
    /*text-underline-position: under;*/
    border-bottom: 3px solid #FCCB41;
}

.census_tract_label .census_tract_label_county_state {
    text-decoration: none;
    font-style: italic;
    text-transform: none;
    display: inline-block;
    margin-top: 2px;
}

.num_eli_renters_label {
    font-size: 0.875rem;
    text-align: right;
    line-height: 1.8em;
}

.num_eli_renters {
    font-weight: bold;
    font-size: 1.125rem;
}

.no_data_msg {
    font-style: italic;
}

.overall_index {
    font-size: 1.125rem;
    line-height: 1.6rem;
}

.percentile_highlight {
    padding: 1px;
}

.percentile_highlight.lowest {
    background-color: #cfe8f3;
    color: #353535;
}

.percentile_highlight.second_lowest {
    background-color: #73bfe2;
    color: #353535;
}

.percentile_highlight.medium_low {
    background-color: #48abdb;
    color: #fff;
}

.percentile_highlight.medium_high {
    background-color: #1695d2;
    color: #fff;
}

.percentile_highlight.second_highest {
    background-color: #12719e;
    color: #fff;
}

.percentile_highlight.highest {
    background-color: #0a4c6b;
    color: #fff;
}

.total_index_label {
    color: #353535;
    font-weight: bold;
}

hr {
    border: 1px solid #12719E;
    margin: 1.5em 0;
}

.subindex_info {
    padding-left: 2em;
}

#percentilePanel .subindex_info p:first-child {
    margin-bottom: 0.2em;
}

#percentilePanel .pctile_components {
    margin-top: 0.2em;
}

.subindex_label {
    font-weight: bold;
}

.pctile_components {
    font-style: italic;
    color: #575757;
    line-height: 1.46rem;
}

.percentilePanel_footer {
    font-size: 0.875rem;
    line-height: 1rem;
    font-style: italic;
}

@media screen and (max-width: 978px) {
    .map_instructions {
        display: none;
    }
}